#page_list, #page_gallery_list #page_gallery, #page_video{
  display: none;
  width:100%;
  height:100vh;
  background-size:100%;
  position: absolute;
}

#page_list{
  background-image: url('/assets/img/bg2.jpg');
}
#page_gallery_list{
  background-image: url('/assets/img/bg3.jpg');
}

/*LIST*/

#page_list .list{
  width:84%;
  padding-left: 8%;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
}
#page_list .list_item{
  height: 80vh;
  box-sizing: border-box;
  background-color: black;
  border: 1px solid white;
  padding-top: 200px;
  padding-left: 100px;
}
#page_list .list_item .videolegend *{
  display:inline-block;
  padding-top: 60px;
}

/*VIDEO*/
#page_video video{
  width:100%;
}

#scrollbarContainer{
  position: absolute;
  bottom: 10vh;
  display: inline-block;
  width: 80%;
  left:0;
  margin-left:10%;
  height: 20px;
  border: 2px solid white;
  border-radius: 15px;
}

#scrollbar{
  background-color: white;
  width: 2px;
  height: 20px;
  border-radius: 10px;
}



/*GALLERY LIST*/


#page_gallery_list .list{
  width:80%;
  padding-left: 5%;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
}
#page_gallery_list .list_item{
  /* height: 100vh; */
  box-sizing: border-box;
}
#page_gallery_list .list_item_title{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  height: 60vh;
  width: 100%;
  background-color: black;
  border: 1px solid white;
  padding-right: 60px;
  padding-top: 45px;
  box-sizing: border-box;
}
#page_gallery_list .list_item_legend{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#page_gallery_list #btn_close_gallerylist{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 6%;
  margin-top: 10vh;
}

#page_gallery_list #page_gallery_list_title{
  float: right;
  margin-right: 15%;
  margin-top:60px;
}

/*GALLERY*/
#page_gallery .gallery{
  width:70%;
  padding-left: 8%;
  padding-top: 10vh;
}
#page_gallery .gallery .gallery_item img{
  width: 100%;
  max-height: 80vh;
  /* object-fit: cover; */
}
#page_gallery .gallery .legend{
  position: fixed;
  float: right;
  right: 7%;
  bottom: 10vh;
  box-sizing: border-box;
  width: 14%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#page_gallery #btn_close_gallery{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 6%;
  margin-top: 10vh;
}
